.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    padding-top: 10px;
    padding-bottom:20px;
    padding: auto 0px;
    min-height:200px;
    border-bottom:1px;
}

.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}
.navbar-dark{
  background: #551A8B;
  color: floralwhite;
}
.media{
  margin-top: 30px;
}

.reserve-table{
  background: #ffce42;
  color: white;
  margin:0px;
}

.someting{
  border-bottom: 0.5px grey;
}


.reserve-table-button{
  background: #ffce42;
  color: black;
  margin: auto auto;
  padding: auto;

}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px;
}